/* colors */
:root {
  --white: #ffffff;
  --blue: #482be7;
  --green: #25dac5;
  --light-blue: #1da1f2;
  --dark-blue: #1e0e62;
  --red: #e93a7d;
}

/* -------------------------------------------General Styles-------------------------------------------------- */
/* -------------------------------------------Nav Styles-------------------------------------------------- */
/* -------------------------------------------Container Styles-------------------------------------------------- */
/* -------------------------------------------Button Styles-------------------------------------------------- */
/* -------------------------------------------Image Styles-------------------------------------------------- */
